*{
margin: 0;
padding: 0;
}
/* Navbaer */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav {
    padding: 0px 10px;
}

.navbar-nav a{
    float: right;
    text-align: right;
}

#nav-bar a:hover{
    /* the !important keyword is used to override bootstrap style with your style */
    color: blue !important; 
}

.navbar{
    background-color: #fff;
}

.navbar-toggler{
    border: none !important;
}

.nav-link{
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}

/* Slider */

#slider{
    width: 100%;
}


.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}

.carousel-caption h5{
    /* float: right; */
    color: #fff;
    font-size: 42px;
}

/* About */

#about{
    padding-top: 70px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn{
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-content{
    padding-top: 20px;

}

.skills-bar p{
    margin-bottom: 5px;
    font-weight: 600;
}

.progress-bar{
    border-radius: 16px;
}

.progress{
    border-radius: 16px !important;
    margin-bottom: 20px;
}

/* Services */

#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/services.jpg);
    background-size: cover;    
    background-position: center;
    color: #efefef;
    background-attachment: fixed;
    padding-top: 70px; 
    padding-bottom: 50px;
}

#services h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}

#services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.services{
    margin-top: 40px;
}

.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 100px;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

.services .col-md-3:hover{
    background-color: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

/* Team */

#team{
    padding-top: 70px;
    padding-bottom: 50px;
    color: #555;
}

h1{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
 
.profile-pic{
    margin-top: 25px;
}

.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img{
    filter: grayscale(1);
}

.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;

}
.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

#team .fa{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background-color: #fff;
    padding: 4px;
    border-radius: 50%;
}

.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.img-box ul li{
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul{
    opacity: 1;
}

.img-box ul, .img-box ul li{
    transition: 0.5s;
}

/* Promo */

#promo{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/promo.jpg);
    background-size: cover;    
    background-position: center;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: 38px;
    background-attachment: fixed;
    padding: 100px;
}

/* Price Plan */

#price{
    padding: 70px 0 40px;
    background-color: #efefef;
}

.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
    
}

.single-price:hover{
    box-shadow: 0 2px 20px #333;
}

.price-head{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price-head h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}

.price-head p{
    color: #ccc;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}

#price span{
    font-size: 15px;
}

.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

.price-content ul li i{
    font-size: 20px;
}

.fa-check-circle{
    color: green;
    margin-right: 10px;
    
}

.fa-times-circle{
    color: red;
    margin-right: 10px;
}

.price-button{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}

.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.1s;
}

.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
    font-weight: bold;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}

/* Testimonials */

#testimonials{
    padding-top: 70px;
    padding-bottom: 50px;
}

#testimonials .row{
    margin-top: 30px;
}

.col-md-4{
    margin: 40px auto;
}

.profile{
    padding: 70px 10px 20px;
    background-color: #efefef;
}

.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}

.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}

#testimonials span{
    font-size: 15px;
    color: #333;
}

blockquote{
    font-size: 15px;
    line-height: 30px;
}

blockquote::before{
    content: open-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}

blockquote::after{
    content: close-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}

.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}

/* Get In Touch */

#contact{
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.contact-form{
    padding: 15px;
}

.form-control{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder{
    color: #999 !important;
}

.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa{
    margin: 9px;
    color: #007bff;
    font-weight: bold;
}

/* Footer */

#footer{
    background: #333;
    color: #fff;
    padding: 12px;
}

.fa-heart-o{
    margin: 3px;
    color: red;
}